/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

*{
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  color: black;
}
h1{
  font-size: 2.6em;
}

p{
font-size: 1.4em;
line-height: 1.6em;
}

/*-------------------HEADER--------------------*/
header{
  height: 100px;
  width: 100vw;
  background-color: #284040;
  align-items: center;
  text-align: center;
  align-self: center;
  position: fixed;
  z-index: 1;
  overflow: hidden;
}

  nav{
display: inline-block;
  }
  /*---------LOGO----------*/
    .mobilhead{
      display: inline-block;
      position: relative;
      float: left;
    }
  .mobilhead img{
    padding-top: 15px;
    display: block;
    height: 100px;

  }
  /*
  /*Hamburger menu icon/'button' styling
  */
  .menu-toggle{
  font-size:30px;
  float:right;
  padding:40px;
  }

  #main-menu-toggle{
    color: white;
  }
  #main-menu-close{
    color: white;
    font-size: 1.5em;
    padding: 1em;
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
  color:blue ;
  }

  .main-menu {
  position: absolute;
  display: none;
  top: 0;
  overflow-x: visible;
  z-index: 999;
  }

  .main-menu ul{
  list-style: none;
  margin: 0;
  min-height: 100%;
  display: block;
  font-size: 30px;
  padding: 1em;
  color: #fff;
  width: 100vw;
  height: auto;
  overflow-y: hidden;
  font-weight: bold;
  text-decoration: none;
  }


  .main-menu li a {
  display: block;
  padding: 1em;
  line-height: 1em;
  color: #fff;
  text-decoration: none;
  }

  .main-menu a.menu-close {
  border-bottom: 0;
  }


  .main-menu a:focus,
  .main-menu a:hover {
  color: #c65f39;
  text-decoration: underline;
  }

  .main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  }

  .main-menu:target {
  display: block;
  right: 0;
  }


  .main-menu:target .menu-close, .menu-close {
  z-index: 1001;
  }

  .main-menu:target ul,{
  position: relative;
  z-index: 1000;
  }

  .close{
    background-color: #c65f39;
    border-radius: 40px;
    height: 70px;
  }


.main-menu:target + .backdrop{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #284040;
  cursor: default;
  }

  @supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop{
    position: fixed;
  }
  }
.dekstop{
  display: none;
}

/*--------RESPONSIVE  HEADER (NAV INCLUDED)-----------*/

@media only screen and (min-width:1200px){
.menu-toggle{
  display: none;
}
.mobilhead{
  display: none;
}
.dekstop{
  display: block;
}
}

/*----------HEADER LEFTBOX----------*/
header{
  height: 110px;
}
header .leftbox{
  width: 30vw;
  height: 65px;
  display: inline-block;
  border-top: solid 3px white;
}

header .leftbox nav{
  left: 0;
}

header .leftbox nav{
  left: 0;
  margin-right: 2vw;
}

header .leftbox nav a{
  margin-right: 4vw;
  margin-left: 4vw;
}

/*----------HEADER MIDDLEBOX----------*/
header .middlebox{
  display: inline-block;
  width: 30vw;
  height: 110px;
}

header .middlebox img{
  height: 100px;
  width: auto;
}

/*----------HEADER RIGHTBOX----------*/
header .rightbox{
  width: 30vw;
  height: 65px;
  display: inline-block;
  border-top: solid 3px white;
}

header .rightbox nav{
  right: 0;
  margin-right: 2vw;
}

header .rightbox nav a{
  margin-right: 4vw;
  margin-left: 4vw;
}
/*-------------------END HEADER BOXES--------------------*/

/*------------------NAVBAR-------------------*/
nav{
  position: fixed;
  z-index: 10;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav a{
  display: inline-block;
  color: #fff;
  padding-top: 0.5em;
  margin-right: 5vw;
  margin-left: 5vw;
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
}

nav a:visited {
  color: #fff;
}

nav a:hover{
  color: #c65f39;
  text-decoration: underline;
  opacity: inherit;
}
/*------------------NAVBAR END-------------------*/
/*-------END RESPONSIVE HEADER WITH NAVBAR------------*/


/*------------------MAIN PART OF BODY-------------------*/
/*---------SHOWCASE----------*/
#showcase{
 width: 100vw;
 height: 100vh;
 padding-left: 10vw;
 padding-right: 5vw;
 background-color: #e0ebeb;
 overflow-y: hidden;
}

#showcase img{
  float: right;
  right: 0;
  max-width: 70%;
  height: auto;
  padding-top: 10vh;
}

#showcase p{
  margin-top: 25%;
  font-size: 3em;
  color: #284040;
}

#showcase b{
  color: #c65f39;
  font-weight: normal;
}
/*---------RESPONSIVE SHOWCASE----------*/
@media only screen and (max-width:1200px){
  #showcase img{
    max-width: 60%;
    padding-top: 20vh;
  }
  #showcase p{
    font-size: 1.6em;
    padding-top: 15vh;
  }

}

@media only screen and (max-width:800px){
  #showcase {
   margin: auto;
   padding-top: 10px;
   width: 100vw;
   height: auto;
   padding-bottom: 15%;

 }
 #showcase img{
   padding-top: 20vh;
   max-width: 60%;
   /* float: none; */
 }
 #showcase p{
   font-size: 1.2em;
   padding-top: 15vh;
 }

}
/*---------SHOWCASE END ----------*/


/*-------Division of content-------------------*/

.problem-content{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 10vh;
}

h2{
  font-size: 1.6em;
  color: #284040;
}

.problem-content ul li {
  font-size: 1.45em;
  line-height: 1.6em;
  padding-top: 2vh;
}

.problem-content p {
  font-size: 1.6em;
  line-height: 1.6em;
}

 a{
  color: #c65f39;
  text-decoration: none;
}

 a:hover{
  color: #284040;
  text-decoration: underline;
  text-decoration-style: solid 3px;
  transition: all ease 0.5s;
}

 a:visited{
  color: #c65f39;
}

*{
  box-sizing: border-box;
}


[class*="col-"]{
  float: left;
  /*border: 1px solid grey;*/
  margin-top: 10vh;
}

[class*="col-"] h1{
  font-size:2.7em;
  padding-bottom: 3vh;
  color: #284040;
}

.col-small-10 {width: 10%}
.col-small-20 {width: 20%;}
.col-small-30 {width: 30%;}
.col-small-40 {width: 40%;}
.col-small-50 {width: 50%;}
.col-small-60 {width: 60%;}
.col-small-70 {width: 70%;}
.col-small-80 {width: 80%;}
.col-small-90 {width: 90%;}
.col-small-100 {width: 100%;}


.col-small-40 img{
  padding: 5vw;
  max-width: 100%;
}

.col-small-40 iframe{
  padding-left:5vw;
  width: 100%;
  height: 300px;
  border: none;
}

/*-------Responsive content-------------------*/
@media only screen and (max-width:1200px) {
.col-tall-10 {width: 10%;}
.col-tall-20 {width: 20%;}
.col-tall-30 {width: 30%;}
.col-tall-40 {width: 40%;}
.col-tall-50 {width: 50%;}
.col-tall-60 {width: 60%;}
.col-tall-70 {width: 70%;}
.col-tall-80 {width: 80%;}
.col-tall-90 {width: 90%;}
.col-tall-100 {width: 100%;}

.col-small-40 img{
  padding: 2vw 2vw 2vw 2vw;
  max-width: 100%;
}
.col-small-40 iframe{
  padding-left:2vw;
  width: 100%;
  height: 300px;
  border: none;
}
}

@media only screen and (max-width:800px) {



[class*="col-"]{
    margin-top: 50px;
  }
  [class*="col-"] h1{
    font-size:2em;
  }

.col-half-10 { width: 10%}
.col-half-20 {width: 20%;}
.col-half-30 {width: 30%;}
.col-half-40 {width: 40%;}
.col-half-50 {width: 50%;}
.col-half-60 {width: 60%;}
.col-half-70 {width: 70%;}
.col-half-80 {width: 80%;}
.col-half-90 {width: 90%;}
.col-half-100 {width: 100%;}

.col-half-100 iframe {
  width: 100vw;
  height: 40vh;}
}

/*-------Division of content end-------------------*/


/*------------------FOOTER-------------------*/
footer{
  height: 40vh;
  width: 100vw;
  position: relative;
  margin-right: 5vw;
  margin-left: 5vw;
  overflow: hidden;
  margin-top: 2.5%;

}
footer p{
  font-size: 24px;
}

/*---------FOOTER LEFTBOX----------*/
footer .leftbox{
  width: 30vw;
  height: 40vh;
  display: inline-block;
  border-top: solid 3px #284140;
}

footer .leftbox a{
  display: block;
  margin: 2vh 0 2vh 0;
  font-weight: bold;
  color: #284140;
  font-size: 1.8em;
  text-decoration:none;
}

footer .leftbox a:hover{
  color: #c65f39;
  text-decoration: underline;
  text-decoration-style: solid 3px;
  text-decoration-color: #c65f39;
}

footer .leftbox i:hover{
  background-color: #c65f39;
}

footer .leftbox .icons{
  display: none;
}

.fa-arrow-up{
  color: #fff;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  line-height: 2.0em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #284140;
  border-radius: 30%;
}

/*---------FOOTER MIDDLEBOX----------*/
footer .middlebox{
  width: 30vw;
  height: 45vh;
  display: inline-block;
  align-content: center;
  align-self: center;
  text-align: center;
}
footer .middlebox img{
  height: 70px;
  width: auto;
  margin-bottom: 5%;
  margin-top: 2%;
}

footer .middlebox a{
  text-decoration: none;
}

.vertical{
  border-left: 3px solid #284140;
  height: 20vh;
  position: absolute;
  left: 45vw;
}
.icons{
  margin: 10px;
  font-size: 2.5em;
}
.icons a{
  color: #284140;
}
.icons a:hover{
  color: #c65f39;
}
.copyright{
  font-size: 1em;
  font-weight: bold;
  color: #284140;
  border: 3px solid green;

}

/*---------FOOTER RIGHTBOX----------*/
footer .rightbox{
  width: 30vw;
  height: 40vh;
  display: inline-block;
  border-top: solid 3px #284140;
}
footer .rightbox h3{
  color: #284140;
  font-weight: bold;
  text-decoration: underline;
  font-size: 25px;
  margin-top: 2vh;
}

.rightbox .icons{
  display: none;
}
/*------------------END FOOTER-------------------*/

/*------------------HEADER FOR A SCREEN WITH MAX-WIDTH 1200PX-------------------*/
@media screen and (max-width: 1200px){
  /*-------------------HEADER--------------------*/
  header{
    height: 100px;
    width: 100vw;
    background-color: #284040;
    align-items: center;
    text-align: center;
    align-self: center;
    position: fixed;
    z-index: 1;
  }
  /*---------DEKSTOP HEADER----------*/
  header .leftbox{
    display: none;
  }
  header .rightbox{
    display: none;
  }
  header .middlebox{
    display: none;
  }

  nav{
    display: none;
  }
  /*---------LOGO----------*/
  .mobilhead{
    display: inline-flex;
    width: 100vw;
  }

  .mobilhead img{
    float: left;
    height: 90px;
  }
  /*---------NAVBAR LINKS----------*/
  .mobilhead .links {
    display: none;
    float: right;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    background-color: #284040;
    border-top: #fff 3px solid;
    overflow: hidden;
    transition: all .5s ease-in-out;
    align-items: center;
    text-align: center;
  }

  .mobilhead .links li {
    list-style: none;
  }

  .mobilhead .links a {
    display: block;
    font-size: 30px;
    padding: 1em;
    color: #fff;
    width: 100vw;
    height: auto;
    overflow-y: hidden;
    font-weight: bold;
    transition: all ease 0.5s;
    text-decoration: none;
  }

  .mobilhead a:visited {
    color: #fff;
    }

  .mobilhead .links a:hover{
    color: #c65f39;
    text-decoration: 3px underline;
  }
  /*---------HAMBURGER NAVBAR LINES + OPEN/CLOSE----------*/
  .mobilhead .links label {
    display: block;
    padding: 1em;
    width: 100vw;
    height: auto;
    overflow-y: hidden;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .mobilhead :checked ~ .links {
     bottom: 0;
     display: block;
  }

  .mobilhead .icon-burger {
    display: block;
  }

  .mobilhead .icon-close{
    display: block;
  }

  .mobilhead :checked ~ .icon-burger .line:nth-child(1){
    transform: translateY(10px) rotate(225deg);
  }
  .mobilhead :checked ~ .icon-burger .line:nth-child(2){
    opacity: 0;
  }
  .mobilhead :checked ~ .icon-burger .line:nth-child(3){
    transform: translateY(-10px) rotate(-225deg);
  }


  /*---------------------------FOOTER----------------------------*/
  footer{
    height: 35vh;
    width: 100vw;
    position: relative;
    margin-right: 5vw;
    margin-left: 5vw;
  }
  footer p{
    font-size: 24px;
  }
  /*---------FOOTER LEFTBOX----------*/
  footer.leftbox{
    width: 30vw;
    height: 40vh;
    display: inline-block;
    border-top: solid 3px #284140;
  }
  footer.leftbox .footlink a{
    display: block;
    margin: 2vh 0 2vh 0;
    font-weight: bold;
    color: black;
    font-size: 25px;
    text-decoration:none;
  }
  footer.leftbox a:hover{
    color: #284140;
    text-decoration: underline;
    text-decoration-style: solid 3px;
    text-decoration-color: #284140;
  }
  footer .leftbox .icons{
  margin: 10px;
  font-size: 2.5em;

  }
  footer .leftbox .icons a{
    color: #284140;
    display: inline-block;
  }
  /*---------FOOTER MIDDLEBOX----------*/
  footer.middlebox{
    width: 30vw;
    height: 45vh;
    display: inline-block;
    align-content: center;
    align-self: center;
    text-align: center;
  }

  footer.middlebox a{
    text-decoration: none;
  }
  footer .middlebox .icons{
    display: none;
  }
  footer .middlebox img{
    max-height: 50px;
  }

  .vertical{
    border-left: 3px solid #284140;
    height: 20vh;
    position: absolute;
    left: 45vw;
  }

  .copyright{
    font-size: 1em;
    font-weight: bold;
    color: #284140;
    border: 3px solid green;
  }
  /*---------FOOTER RIGHTBOX----------*/
  footer.rightbox{
    width: 30vw;
    height: 40vh;
  }
  footer .rightbox .about p{
    font-size: 1.3em;
  }
  /*------------------END FOOTER-------------------*/
  }
}
  /*------------------END FOOTER-------------------*/
}
@media screen and (max-width: 800px){
  p{
    font-size: 1.4em;
  }
  /*------------------FOOTER-------------------*/
  footer{
    height: 30vh;
    width: 100vw;
    position: relative;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 10%;
  }

  /*---------FOOTER LEFTBOX----------*/
  footer .leftbox{
    width: 30vw;
    height: 40vh;
    display: inline-block;
    border-top: solid 3px #284140;
  }
  footer .leftbox .footlink a{
    display: block;
    margin: 2vh 0 2vh 0;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-decoration:none;
  }
  footer .leftbox a:hover{
    color: #284140;
    text-decoration: underline;
    text-decoration-style: solid 3px;
    text-decoration-color: #284140;
  }
  footer .leftbox .icons{
  margin: 10px;
  font-size: 2.5em;
  display: inline-block;

  }
  footer .icons a{
    font-size: 17px;
    color: #284140;
    display: inline-block;
  }
  /*---------FOOTER MIDDLEBOX----------*/
  footer .middlebox{
    width: 30vw;
    height: 45vh;
    display: inline-block;
    align-content: center;
    align-self: center;
    text-align: center;
  }

  footer .middlebox a{
    text-decoration: none;
  }
  footer .middlebox .icons{
    display: none;
  }
  footer .middlebox img{
    max-height: 35px;
  }

  .vertical{
    border-left: 3px solid #284140;
    height: 20vh;
    position: absolute;
    left: 45vw;
  }

  /*---------FOOTER RIGHTBOX----------*/
  footer.rightbox{
    width: 30vw;
    height: 40vh;
  }
  footer .rightbox .about p{
    font-size: 1em;
  }

  .copyright{
    font-size: 1em;
    font-weight: bold;
    color: #284140;
    border: 3px solid green;
  }
  /*------------------END FOOTER-------------------*/
}
  /*------------------END FOOTER-------------------*/
