*{
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
/*background-color:#c9acb5;*/
  background-color: #fffef8;
  font-family: 'Merriweather', serif;

}
header{
  height: 100px;
  width: 100vw;
  background-color: #284140;
  box-shadow: 0px 0px 0px 5px #284140;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
}
h1{
  font-size: 46px;
}
p{
  font-size: 36px;
}

nav {
  text-align: right;
  width: 25%;
}
nav ul {
  float: right;
  list-style: none
}
nav ul li{
  display: inline-block;
  margin: 0 5%;
}
nav ul li a{
  position: relative;
  font-weight: bold;
<<<<<<< Updated upstream
  padding: 5px 0;
  color: #fffef8;
  font-size: 25px;
  text-decoration:none;
=======
  color: #fff;
}
.mobilhead .icon-close .close p:hover{
  text-decoration: underline solid;
}
/*------------------END RESPONSIVE NAVBAR-------------------*/


/*------------------MAIN PART OF BODY-------------------*/
/*---------SHOWCASE----------*/
#showcase{
  background-image: url("../bilder/problem/waste.jpg");
  background-repeat: no-repeat;
  background-position:left;
  height: 100vh;
}
#showcase h1{
font-size: 4vw;
text-align: center;
color: black;
position: absolute;
top: 50%;
left: 50%;
width: 48vw;
text-shadow: 2px 2px 4vw #283e3e;
}
/*---------RESPONSIVE SHOWCASE----------*/
@media only screen and (max-width:1100px){
  #showcase{
    background-image: url("../bilder/problem/problem-showcase.jpg");
    background-repeat: no-repeat;
    background-position:center;
    height: 100vh;
  }
  #showcase h1{
  font-size: 3em;
  top: 75%;
  left: 0%;
  width: 100vw;
  }

}

@media only screen and (max-width:800px){
  #showcase{
    background-image: url("../bilder/problem/mango2.jpg");
  }

  #showcase h1{
  font-size: 2.4em;
  }

}
/*---------SHOWCASE END ----------*/


/*-------Division of content-------------------*/

.problem-content{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 15vh;
}
.problem-content ul li {
  font-size: 1.1em;
  padding: 2%;
}

 a{
  color: #c65f39;
  text-decoration: none;
>>>>>>> Stashed changes
}
nav ul li a:hover{
  text-decoration: underline;
  text-decoration-color: #fffef8;
  text-decoration-style: 3px solid;
}
footer{
  height: 50vh;
  width: 100vw;
  position: relative;
  margin-right: 5vw;
  margin-left: 5vw;
}
footer p{
  font-size: 24px;
}
.leftbox{
  width: 30vw;
  height: 45vh;
  display: inline-block;
  border-top: solid 3px #284140;
}
.leftbox a{
  display: block;
  margin: 2vh 0 2vh 0;
  font-weight: bold;
  color: black;
  font-size: 25px;
  text-decoration:none;
}
.leftbox a:hover{
  color: #284140;
  text-decoration: underline;
  text-decoration-style: solid 3px;
  text-decoration-color: #284140;
}
.middlebox{
  width: 30vw;
  height: 45vh;
  display: inline-block;
}
.middlebox img{
  width: 2.5vw;
  height: 5vh;
}
.middlebox a{
  text-decoration: none;
}

.rightbox{
  width: 30vw;
  height: 45vh;
  display: inline-block;
  border-top: solid 3px #284140;
}
.rightbox h3{
  font-weight: bold;
  text-decoration: underline;
  font-size: 25px;
  margin-top: 2vh;
}
