/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}
*{
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
}
/**:focus {
	outline: 5px solid orange;
	outline-offset: 3px	;
}*/

body{
  margin: 0;
  color: black;
}
h1{
  font-size: 2.7em;
  color: #284040;
}

p{
  font-size: 1.4em;
    line-height: 1.6;
}

/*-------------------HEADER--------------------*/
header{
  height: 100px;
  width: 100vw;
  background-color: #284040;
  align-items: center;
  text-align: center;
  align-self: center;
  position: fixed;
  z-index: 1;
  overflow: hidden;
}

  nav{
display: inline-block;
  }
  /*---------LOGO----------*/
.mobilhead{
  display: inline-block;
  position: relative;
  float: left;
}
  .mobilhead img{
    padding-top: 15px;
    display: block;
    height: 100px;

  }
  /*
  /*Hamburger menu icon/'button' styling
  */
  .menu-toggle{
  font-size:30px;
  float:right;
  padding:40px;
  }

  #main-menu-toggle{
    color: white;
  }
  #main-menu-close{
    color: white;
    font-size: 1.5em;
    padding: 1em;
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
  color:blue ;
  }

  .main-menu {
  position: absolute;
  display: none;
  top: 0;
  overflow-x: visible;
  z-index: 999;
  }

  .main-menu ul{
  list-style: none;
  margin: 0;
  min-height: 100%;
  display: block;
  font-size: 30px;
  padding: 1em;
  color: #fff;
  width: 100vw;
  height: auto;
  overflow-y: hidden;
  font-weight: bold;
  text-decoration: none;
  }


  .main-menu li a {
  display: block;
  padding: 1em;
  line-height: 1em;
  color: #fff;
  text-decoration: none;
  }

  .main-menu a.menu-close {
  border-bottom: 0;
  }


  .main-menu a:focus,
  .main-menu a:hover {
  color: #c65f39;
  text-decoration: underline;
  }

  .main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  }

  .main-menu:target {
  display: block;
  right: 0;
  }


  .main-menu:target .menu-close, .menu-close {
  z-index: 1001;
  }

  .main-menu:target ul,{
  position: relative;
  z-index: 1000;
  }

  .close{
    background-color: #c65f39;
    border-radius: 40px;
    height: 70px;
  }


.main-menu:target + .backdrop{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #284040;
  cursor: default;
  }

  @supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop{
    position: fixed;
  }
  }
.dekstop{
  display: none;
}

/*--------RESPONSIVE  HEADER (NAV INCLUDED)-----------*/

@media only screen and (min-width:1200px){
.menu-toggle{
  display: none;
}
.mobilhead{
  display: none;
}
.dekstop{
  display: block;
}

/*----------HEADER LEFTBOX----------*/
header{
  height: 110px;
}
header .leftbox{
  width: 30vw;
  height: 65px;
  display: inline-block;
  border-top: solid 3px white;
}

header .leftbox nav{
  left: 0;
}

header .leftbox nav{
  left: 0;
  margin-right: 2vw;
}

header .leftbox nav a{
  margin-right: 4vw;
  margin-left: 4vw;
}

/*----------HEADER MIDDLEBOX----------*/
header .middlebox{
  display: inline-block;
  width: 30vw;
  height: 110px;
}

header .middlebox img{
  height: 100px;
  width: auto;
}

/*----------HEADER RIGHTBOX----------*/
header .rightbox{
  width: 30vw;
  height: 65px;
  display: inline-block;
  border-top: solid 3px white;
}

header .rightbox nav{
  right: 0;
  margin-right: 2vw;
}

header .rightbox nav a{
  margin-right: 4vw;
  margin-left: 4vw;
}
/*-------------------END HEADER BOXES--------------------*/

/*------------------NAVBAR-------------------*/
nav{
  position: fixed;
  z-index: 10;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav a{
  display: inline-block;
  color: #fff;
  padding-top: 0.5em;
  margin-right: 5vw;
  margin-left: 5vw;
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
}

nav a:visited {
  color: #fff;
}

nav a:hover{
  color: #c65f39;
  text-decoration: underline;
  opacity: inherit;
}
}
/*------------------NAVBAR END-------------------*/
/*-------END RESPONSIVE HEADER WITH NAVBAR------------*/




/*------------------ SHOWCASE-------------------*/
#showcase {
  width: 100vw;
  height: 100vh;
  background-color: #e0ebeb;
  overflow-y: hidden;
}

.showcase-text {
  line-height: 1.6;
  padding-top: 200px;
  width: 100vw;
  color: #284040;
  text-align: center;
  overflow-y: hidden;
  font-size: 2.3em;
}
#showcase b{
  color: #e36802;
}
#showcase d{
  color: #d23014;
}
.showcase-img{
  width: 100%;
  margin-top: 90px;
  padding-bottom: 20px;

}
.img-sharingApple{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*------------------ END SHOWCASE-------------------*/


/*------------------ CONTENT-------------------*/

.content {
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 50px;
  margin-bottom: 70px;
}

.content a{
  color: #c65f39;
  text-decoration: none;
}

.content a:hover{
  color: #284040;
  text-decoration: underline;
  text-decoration-style: solid 3px;
  transition: all ease 0.5s;
}

.content a:visited{
  color: #c65f39;
}

/*----------HOW WILL IT HELP SOCIETY TOWARDS A GREADET DIRECTION - PARAGRAPH----------*/
#society ul{
font-size: 1.4em;
line-height: 1.6;
}

/*------------------ END CONTENT-------------------*/


/*------------------FOOTER-------------------*/
footer{
  height: 40vh;
  width: 100vw;
  position: relative;
  margin-right: 5vw;
  margin-left: 5vw;
  overflow: hidden;
  margin-top: 2.5%;
}

footer p{
  font-size: 24px;
}

/*---------FOOTER LEFTBOX----------*/
footer .leftbox{
  width: 30vw;
  height: 40vh;
  display: inline-block;
  border-top: solid 3px #284140;
}

footer .leftbox a{
  display: block;
  margin: 2vh 0 2vh 0;
  font-weight: bold;
  color: #284140;
  font-size: 1.8em;
  text-decoration:none;
}

footer .leftbox a:hover{
  color: #c65f39;
  text-decoration: underline;
  text-decoration-style: solid 3px;
  text-decoration-color: #c65f39;
}

footer .leftbox i:hover{
  background-color: #c65f39;
}

footer .leftbox .icons{
  display: none;
}

.fa-arrow-up{
  color: #fff;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  line-height: 2.0em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #284140;
  border-radius: 30%;
}

/*---------FOOTER MIDDLEBOX----------*/
footer .middlebox{
  width: 30vw;
  height: 45vh;
  display: inline-block;
  align-content: center;
  align-self: center;
  text-align: center;
}
footer .middlebox img{
  height: 70px;
  width: auto;
  margin-bottom: 5%;
  margin-top: 2%;
}

footer .middlebox a{
  text-decoration: none;
}

.vertical{
  border-left: 3px solid #284140;
  height: 20vh;
  position: absolute;
  left: 45vw;
}
.icons{
  margin: 10px;
  font-size: 2.5em;
}
.icons a{
  color: #284140;
}
.icons a:hover{
  color: #c65f39;
}
.copyright{
  font-size: 1em;
  font-weight: bold;
  color: #284140;
  border: 3px solid green;

}

/*---------FOOTER RIGHTBOX----------*/
footer .rightbox{
  width: 30vw;
  height: 40vh;
  display: inline-block;
  border-top: solid 3px #284140;
}
footer .rightbox h3{
  color: #284140;
  font-weight: bold;
  text-decoration: underline;
  font-size: 25px;
  margin-top: 2vh;
}

.rightbox .icons{
  display: none;
}
/*------------------END FOOTER-------------------*/

/*------------------HEADER FOR A SCREEN WITH MAX-WIDTH 1200PX-------------------*/

/*------------------SHOWCASE FOR A SCREEN WITH MAX-WIDTH 1200PX-------------------*/
@media screen and (max-width: 1200px){
  .showcase-text{
    font-size: 1.4em;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 170px;
  }
  .showcase-img{
    margin-top: 70px;
  }
}
/*------------------END SHOWCASE FOR A SCREEN WITH MAX-WIDTH 1200PX-------------------*/

/*------------------SHOWCASE FOR A SCREEN WITH MAX-WIDTH 800PX-------------------*/
@media screen and (max-width: 800px){

  .showcase-text{
    font-size: 1.3em;
    width: 90%;
  }

  .showcase-img{
    margin-top: 50px;
  }
}
/*------------------END SHOWCASE FOR A SCREEN WITH MAX-WIDTH 800PX-------------------*/

/*------------------SHOWCASE FOR A SCREEN WITH MAX-WIDTH 540PX-------------------*/
@media screen and (max-width: 540px){

  .showcase-text{
    padding-top: 140px;
    font-size: 0.8em;
    width: 87%;
  }

  .showcase-img{
    margin-top: 20px;
  }
}
/*------------------END SHOWCASE FOR A SCREEN WITH MAX-WIDTH 540PX-------------------*/

/*------------------CONTENT FOR A SCREEN WITH MAX-WIDTH 1200PX-------------------*/
@media screen and (max-width: 1200px){

  .content{
    margin: 20px;
  }
  .content h1{
    font-size: 2.3em;
    margin-top: 15px;
  }
  .ourStep {
    float: none;
    width: 95%;
    margin: 20px;
  }
  .picture-box{
    padding: 0;
    width: 100%;
    float: none;
    text-align: center;
  }
}
/*------------------END CONTENT FOR A SCREEN WITH MAX-WIDTH 1200PX-------------------*/

/*------------------CONTENT FOR A SCREEN WITH MAX-WIDTH 800PX-------------------*/
@media screen and (max-width: 800px){
  .content h1{
    font-size: 2em;
    margin-top: 20px;
  }
}
/*------------------END CONTENT FOR A SCREEN WITH MAX-WIDTH 800PX-------------------*/

/*------------------FOOTER FOR A SCREEN WITH MAX-WIDTH 1200PX-------------------*/
/*------------------FOOTER-------------------*/
@media screen and (max-width: 1200px){
  /*-------------------FOOTER--------------------*/
  footer{
    height: 35vh;
    width: 100vw;
    position: relative;
    margin-right: 5vw;
    margin-left: 5vw;
  }
  footer p{
    font-size: 24px;
  }
  /*---------FOOTER LEFTBOX----------*/
  footer.leftbox{
    width: 30vw;
    height: 40vh;
    display: inline-block;
    border-top: solid 3px #284140;
  }
  footer.leftbox .footlink a{
    display: block;
    margin: 2vh 0 2vh 0;
    font-weight: bold;
    color: black;
    font-size: 25px;
    text-decoration:none;
  }
  footer.leftbox a:hover{
    color: #284140;
    text-decoration: underline;
    text-decoration-style: solid 3px;
    text-decoration-color: #284140;
  }
  footer .leftbox .icons{
  margin: 10px;
  font-size: 2.5em;

  }
  footer .leftbox .icons a{
    color: #284140;
    display: inline-block;
  }
  /*---------FOOTER MIDDLEBOX----------*/
  footer.middlebox{
    width: 30vw;
    height: 45vh;
    display: inline-block;
    align-content: center;
    align-self: center;
    text-align: center;
  }

  footer.middlebox a{
    text-decoration: none;
  }
  footer .middlebox .icons{
    display: none;
  }
  footer .middlebox img{
    max-height: 50px;
  }

  .vertical{
    border-left: 3px solid #284140;
    height: 20vh;
    position: absolute;
    left: 45vw;
  }

  .copyright{
    font-size: 1em;
    font-weight: bold;
    color: #284140;
    border: 3px solid green;
  }
/*---------FOOTER RIGHTBOX----------*/
  footer.rightbox{
    width: 30vw;
    height: 40vh;
  }
  footer .rightbox .about p{
    font-size: 1.3em;
  }
  /*------------------END FOOTER-------------------*/
}
/*------------------END FOOTER FOR A SCREEN WITH MAX-WIDTH 1200PX-------------------*/

/*------------------FOOTER FOR A SCREEN WITH MAX-WIDTH 800PX-------------------*/
}
@media screen and (max-width: 800px){
  p{
    font-size: 1.4em;
  }
  footer{
    height: 30vh;
    width: 100vw;
    position: relative;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 10%;
  }

  /*---------FOOTER LEFTBOX----------*/
  footer .leftbox{
    width: 30vw;
    height: 40vh;
    display: inline-block;
    border-top: solid 3px #284140;
  }
  footer .leftbox .footlink a{
    display: block;
    margin: 2vh 0 2vh 0;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-decoration: none;
  }
  footer .leftbox a:hover{
    color: #284140;
    text-decoration: underline;
    text-decoration-style: solid 3px;
    text-decoration-color: #284140;
  }
  footer .leftbox .icons{
  margin: 10px;
  font-size: 2.5em;
  display: inline-block;

  }
  footer .icons a{
    font-size: 17px;
    color: #284140;
    display: inline-block;
  }
  /*---------FOOTER MIDDLEBOX----------*/
  footer .middlebox{
    width: 30vw;
    height: 45vh;
    display: inline-block;
    align-content: center;
    align-self: center;
    text-align: center;
  }

  footer .middlebox a{
    text-decoration: none;
  }
  footer .middlebox .icons{
    display: none;
  }
  footer .middlebox img{
    max-height: 35px;
  }

  .vertical{
    border-left: 3px solid #284140;
    height: 20vh;
    position: absolute;
    left: 45vw;
  }

  /*---------FOOTER RIGHTBOX----------*/
  footer.rightbox{
    width: 30vw;
    height: 40vh;
  }
  footer .rightbox .about p{
    font-size: 1em;
  }

  .copyright{
    font-size: 1em;
    font-weight: bold;
    color: #284140;
    border: 3px solid green;
  }
  /*------------------END FOOTER-------------------*/
/*------------------END FOOTER FOR A SCREEN WITH MAX-WIDTH 800PX-------------------*/
