*{
  margin: 0;
  overflow-x: hidden;
}

body{
/*background-color:#c9acb5;*/
  background-color: #fffef8;
  font-family: 'Merriweather', serif;
}
header{
  height: 100px;
  width: 100vw;
  background-color: #c9acb5;
  box-shadow: 0px 0px 0px 5px /*#275A53*/ #284140;
  position: fixed;
  z-index: 1;
}
h1{
  font-size: 46px;
}
p{
  font-size: 36px;
}

nav {
  height: 100px;
  background-color: #fffef8;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  text-align: right;
}
nav ul {
  float: right;
  list-style: none;
  width: 100%;
}
nav ul li{
  display: inline-block;
  line-height: 50px;
  margin: 0 5%;
}
nav ul li a{
  position: relative;
  font-weight: bold;
  padding: 5px 0;
  color: black;
  font-size: 22px;
  text-decoration:none;
}
nav ul li a:hover{
  text-decoration: underline;
  text-decoration-color: #284140;
  text-decoration-style: 3px solid;
}

.showcase{
  background-image: url(../bilder/water.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
.showcase h1{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  text-align: center;
  color: black;
  position: absolute;
  top: 25%;
  left: 5%;
}
.showcase h2{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  text-align: center;
  color: black;
  position: absolute;
  top: 80%;
  left: 55%;
}
#content{
  width: 100vw;
  height: 100vh;
}
.app{
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 20px;
}
.app p{
  padding: 40px;
  margin-right: 800px;
}

.app img{
  margin: 0px;
  float: right;
  /*width: 30vw;*/
  height: auto;
}


/*body{
  /*background-color: #E0D5C7; #EBE5DB* #b9b4b8 #b2d8e7

  background-color:	#f1e8e1;
}

header{
  height: 100px;
  width: 100vw;
  background-color: #E0D5C7;
  box-shadow: 0px 0px 0px 5px /*#275A53*//*  #4f8a90;
  position: fixed;
}

nav ul li{
  float: right;
  display:inline;
  padding: 0 5%;
}

.showcase{
  background-image: url(../bilder/orange.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.content{
  background-color: #E0D5C7;
  width: auto;
  height: 50vh;
  box-shadow: 2px 10px 10px 2px #808080;
  align-items: center;
  text-align: center;
  align-self: center;
  margin: 10% 10% 0% 10%;
}*/
