/*---------------------------KEYFRAMES----------------------------*/
@-webkit-keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

@keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}
/*-------------------COMMON CODE FOR THE WHOLE WEBSITE--------------------*/
*{
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  color: black;
}

h1{
  font-size: 2.3em;
  line-height: 1.6;
  color: #284040;
}

p{
  font-size: 1.4em;
  line-height: 1.6;
}

/*---------------------------HEADER----------------------------*/
header{
  height: 100px;
  width: 100vw;
  background-color: #284040;
  align-items: center;
  text-align: center;
  align-self: center;
  position: fixed;
  z-index: 1;
  overflow: hidden;
}

nav{
  display: inline-block;
}

/*---------LOGO----------*/
.mobilhead{
  display: inline-block;
  position: relative;
  float: left;
}
.mobilhead img{
  padding-top: 15px;
  display: block;
  height: 100px;
}

/*---------HAMBURGER MENU ICON/BUTTON STYLING----------*/
.menu-toggle{
  font-size:30px;
  float:right;
  padding:40px;
}

#main-menu-toggle{
  color: white;
}

#main-menu-close{
  color: white;
  font-size: 1.5em;
  padding: 1em;
}

.main-menu {
  position: absolute;
  display: none;
  top: 0;
  overflow-x: visible;
  z-index: 999;
}

.main-menu ul{
  list-style: none;
  margin: 0;
  min-height: 100%;
  display: block;
  font-size: 20px;
  padding: 1em;
  color: #fff;
  width: 100vw;
  height: auto;
  overflow-y: hidden;
  font-weight: bold;
  text-decoration: none;

}


.main-menu li a {
  display: inline-block;
  padding: 1em;
  line-height: 1em;
  color: #fff;
  text-decoration: none;
}

.main-menu a.menu-close {
  border-bottom: 0;
}


.main-menu a:focus,
.main-menu a:hover {
  color: #c65f39;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

.main-menu:target {
  display: block;
  right: 0;
}


.main-menu:target .menu-close, .menu-close {
  z-index: 1001;
}

.main-menu:target ul,{
  position: relative;
  z-index: 1000;
}

.close{
    background-color: #c65f39;
    border-radius: 35px;
    margin-left: 33%;
    margin-right: 33%;
  }
  .close a{
    font-size: 20px;
    height: 70px;
  }
  .close a:hover, .close a:focus{
    color: #fff;
  }

.main-menu:target + .backdrop{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #284040;
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop{
    position: fixed;
  }
}
/*--------- END HAMBURGER MENU ICON/BUTTON STYLING----------*/

/*CODE TO HIDE THE BUTTON ON DESKTOP*/
.desktop{
  display: none;
}

/*----------HEADER LEFTBOX----------*/
header{
  height: 110px;
}
header .leftbox{
  width: 30vw;
  height: 65px;
  display: inline-block;
  border-top: solid 3px white;
}

header .leftbox nav{
  left: 0;
}

header .leftbox nav{
  left: 0;
  margin-right: 2vw;
}

header .leftbox nav a{
  margin-right: 4vw;
  margin-left: 4vw;
}

/*----------HEADER MIDDLEBOX----------*/
header .middlebox{
  display: inline-block;
  width: 30vw;
  height: 110px;
}

header .middlebox img{
  height: 100px;
  width: auto;
}

/*----------HEADER RIGHTBOX----------*/
header .rightbox{
  width: 30vw;
  height: 65px;
  display: inline-block;
  border-top: solid 3px white;
}

header .rightbox nav{
  right: 0;
  margin-right: 2vw;
}

header .rightbox nav a{
  margin-right: 4vw;
  margin-left: 4vw;
}
/*---------END HEADER BOXES----------*/

/*---------NAVBAR----------*/
nav{
  position: fixed;
  z-index: 10;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav a{
  display: inline-block;
  color: #fff;
  padding-top: 0.5em;
  margin-right: 5vw;
  margin-left: 5vw;
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
}

nav a:visited {
  color: #fff;
}

nav a:hover{
  color: #c65f39;
  text-decoration: underline;
  opacity: inherit;
}
/*---------END NAVBAR----------*/
/*---------------------------END HEADER----------------------------*/

/*---------------------------MAIN PART OF BODY----------------------------*/
/*---------SHOWCASE----------*/
#showcase{
 width: 100vw;
 height: 100vh;
 background-color: #e0ebeb;
 overflow-y: hidden;
}

#showcase img{
  display: block;
  max-width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#showcase p{
  font-size: 3em;
  color: #284040;
}

#showcase .stext{
  width: 100vw;
  padding-top: 10%;
  text-align: center;
}

#showcase b{
  color: #c65f39;
  font-weight: normal;
}
/*---------#CONTENT----------*/
.content{
  width: 100vw;
  height: auto;
  padding: 7vh 10vw;
}

.content:nth-child(even){
  background-color: #eee3dd;
}

/*---------APP----------*/
#app .appimg{
  float: right;
}

#app .mobimg{
  display: none;
}

/*---------READ MORE - BUTTON----------*/
.button {
 background-color:  #c65f39;
 border: none;
 color: white;
 padding: 8px 25px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 1.4em;
 font-weight: bold;
 margin: 4px 2px;
 border-radius: 1.5em;
 z-index: -1;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*---------END READ MORE - BUTTON----------*/
/*---------------------------END MAIN PART OF BODY----------------------------*/

/*---------------------------FOOTER----------------------------*/
footer{
  height: 40vh;
  width: 100vw;
  position: relative;
  margin-right: 5vw;
  margin-left: 5vw;
  overflow: hidden;
  margin-top: 2.5%;

}
footer p{
  font-size: 24px;
}

/*---------FOOTER LEFTBOX----------*/
footer .leftbox{
  width: 30vw;
  height: 40vh;
  display: inline-block;
  border-top: solid 3px #284140;
}

footer .leftbox a{
  display: block;
  margin: 2vh 0 2vh 0;
  font-weight: bold;
  color: #284140;
  font-size: 1.8em;
  text-decoration:none;
}

footer .leftbox a:hover{
  color: #c65f39;
  text-decoration: underline;
  text-decoration-style: solid 3px;
  text-decoration-color: #c65f39;
}

footer .leftbox i:hover{
  background-color: #c65f39;
}

footer .leftbox .icons{
  display: none;
}

.fa-arrow-up{
  color: #fff;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  line-height: 2.0em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #284140;
  border-radius: 30%;
}

/*---------FOOTER MIDDLEBOX----------*/
footer .middlebox{
  width: 30vw;
  height: 45vh;
  display: inline-block;
  align-content: center;
  align-self: center;
  text-align: center;
}
footer .middlebox img{
  height: 70px;
  width: auto;
  margin-bottom: 5%;
  margin-top: 2%;
}

footer .middlebox a{
  text-decoration: none;
}

.vertical{
  border-left: 3px solid #284140;
  height: 20vh;
  position: absolute;
  left: 45vw;
}
.icons{
  margin: 10px;
  font-size: 2.5em;
}
.icons a{
  color: #284140;
}
.icons a:hover{
  color: #c65f39;
}
/*.copyright{
  font-size: 1em;
  font-weight: bold;
  color: #284140;
  border: 3px solid green;
}*/

/*---------FOOTER RIGHTBOX----------*/
footer .rightbox{
  width: 30vw;
  height: 40vh;
  display: inline-block;
  border-top: solid 3px #284140;
}
footer .rightbox h3{
  color: #284140;
  font-weight: bold;
  text-decoration: underline;
  font-size: 25px;
  margin-top: 2vh;
}

.rightbox .icons{
  display: none;
}
/*---------------------------END FOOTER----------------------------*/
/*---------------------------END OF DESKTOP CODE----------------------------*/


/*------------------RESPONSIVE PAGE WITH MAX-WIDTH 1200PX-------------------*/
@media only screen and (min-width:1200px){
  /*---------------------------MENU----------------------------*/
  .menu-toggle{
    display: none;
  }

  .mobilhead{
    display: none;
  }

  .desktop{
    display: block;
  }
}
/*------------------RESPONSIVE PAGE WITH MIN-WIDTH 1200PX-------------------*/

/*------------------RESPONSIVE PAGE WITH MAX-WIDTH 1200PX-------------------*/
@media only screen and (max-width:1200px){
  /*---------------------------SHOWCASE----------------------------*/
  #showcase .stext{
    width: 100vw;
    padding-top: 15%;
    font-size: 3em;
    text-align: center;
  }

    #showcase img{
      display: block;
      max-width: 40%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }


  /*---------------------------CONTENT----------------------------*/
  .content{
    width: 100vw;
    height: auto;
  }
}
/*------------------END RESPONSIVE PAGE WITH MAX-WIDTH 1200PX-------------------*/

/*------------------RESPONSIVE PAGE WITH MAX-WIDTH 800PX-------------------*/
@media screen and (max-width: 800px){
  /*---------SHOWCASE----------*/
  #showcase {
   margin: auto;
   padding-top: 10px;
   width: 100vw;
   height: auto;
   padding-bottom: 15%;
 }

 #showcase img{
   max-width: 70%;
   float: none;
 }

 #showcase .stext{
   width: 100vw;
   padding-top:27%;
   font-size: 1.6em;
   text-align: center;
 }

  /*---------THE APP----------*/
  .app .appimg{
    display: none;
  }

  .app .mobimg{
    display: block;
  }

  .app .mobimg img{
    max-width: 100%;
    height: auto;
    float: right;
  }

  /*---------------------------FOOTER----------------------------*/
  footer{
    height: 30vh;
    width: 100vw;
    position: relative;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 10%;
  }

  /*---------FOOTER LEFTBOX----------*/
  footer .leftbox{
    width: 30vw;
    height: 40vh;
    display: inline-block;
    border-top: solid 3px #284140;
  }

  footer .leftbox .footlink a{
    display: block;
    margin: 2vh 0 2vh 0;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-decoration:none;
  }

  footer .leftbox a:hover{
    color: #284140;
    text-decoration: underline;
    text-decoration-style: solid 3px;
    text-decoration-color: #284140;
  }

  footer .leftbox .icons{
  margin: 10px;
  font-size: 2.5em;
  display: inline-block;

  }

  footer .icons a{
    font-size: 17px;
    color: #284140;
    display: inline-block;
  }

  /*---------FOOTER MIDDLEBOX----------*/
  footer .middlebox{
    width: 30vw;
    height: 45vh;
    display: inline-block;
    align-content: center;
    align-self: center;
    text-align: center;
  }

  footer .middlebox a{
    text-decoration: none;
  }

  footer .middlebox .icons{
    display: none;
  }

  footer .middlebox img{
    max-height: 35px;
  }

  .vertical{
    border-left: 3px solid #284140;
    height: 20vh;
    position: absolute;
    left: 45vw;
  }

  /*---------FOOTER RIGHTBOX----------*/
  footer.rightbox{
    width: 30vw;
    height: 40vh;
  }

  footer .rightbox .about p{
    font-size: 1em;
  }

  /*.copyright{
    font-size: 1em;
    font-weight: bold;
    color: #284140;
    border: 3px solid green;
  }*/
  /*---------------------------END FOOTER----------------------------*/
}
/*------------------END RESPONSIVE PAGE WITH MAX-WIDTH 800PX-------------------*/
