*{
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body{
/*background-color:#c9acb5;*/
  background-color: #fffef8;
  font-family: 'Merriweather', serif;

}
header{
  height: 100px;
  width: 100vw;
  background-color: #fffef8;
  box-shadow: 0px 0px 0px 5px /*#275A53*/ #284140;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
}
h1{
  font-size: 46px;
}
p{
  font-size: 36px;
}

nav {
  text-align: right;
}
nav ul {
  float: right;
  list-style: none;
  width: 100%;
}
nav ul li{
  display: inline-block;
  margin: 0 5%;
}
nav ul li a{
  position: relative;
  font-weight: bold;
  padding: 5px 0;
  color: black;
  font-size: 25px;
  text-decoration:none;
}
nav ul li a:hover{
  text-decoration: underline;
  text-decoration-color: #284140;
  text-decoration-style: 3px solid;
}


.showcase{
  background-image: url(../bilder/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
.showcase h1{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  text-align: center;
  color: black;
  position: absolute;
  top: 25%;
  left: 5%;
}
.showcase h2{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  text-align: center;
  color: black;
  position: absolute;
  top: 80%;
  left: 55%;
}
#content{
  width: 100vw;
  height: 100vh;
}
.problem{
  margin-top: 15vh;
}
.all1{
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 20px;
}
.all1 p{
  padding: 40px;
  margin-right: 40vw;
  margin-left: 5vw;
}
.all1 h1{
  padding: 40px;
  margin-left: 5vw;
}

.all1 img{
  margin: 0px;
  float: right;
  width: 40vw;
  height: auto;
}
.all2{
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 20px;
}
.all2 p{
  padding: 40px;
  margin-left: 40vw;
  margin-right: 5vw;
}
.all2 h1{
  padding: 40px;
  margin-left: 40vw;
}

.all2 img{
  margin: 0px;
  float: left;
  width: 40vw;
  height: auto;
}

footer{
  height: 50vh;
  width: 100vw;
  position: relative;
  margin-right: 5vw;
  margin-left: 5vw;
}

.leftbox{
  width: 30vw;
  height: 45vh;
  display: inline-block;
  border-top: solid 3px #000;
}
.middlebox{
  width: 30vw;
  height: 45vh;
  display: inline-block;
}
.rightbox{
  width: 30vw;
  height: 45vh;
  display: inline-block;
  border-top: solid 3px #000;
}
